extends layout
block content

	h1= movie.title
	p <strong>Year:</strong> #{movie.year}
	p <strong>Description:</strong> #{movie.desc}
	p <strong>Director:</strong> #{movie.regi}
	p <strong>Length:</strong> #{movie.length}
	img(src="#{movie.imgUrl}")
